.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding: 0 0 30px;

    h1 {
        font-family: "protest";
        font-size: 30px;
        font-weight: lighter;
    }

    .description {
        width: 100%;
        font-size: 18px;
        max-width: 350px;
        text-wrap: balance;

        span {
            font-family: barlowBlack;
            color: #9d4edd;
        }
    }

    .category {
        width: 100%;
        max-width: 350px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        h2 {
            font-family: "protest";
            font-weight: lighter;
            font-size: 24px;
        }

        .card {
            width: 100%;
            height: 175px;
            position: relative;
            border-radius: 15px;
            overflow: hidden;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            box-shadow: 0 0 20px #16161696;

            img.bgImage {
                object-fit: cover;
                filter: brightness(0.5) opacity(0.5);
            }

            a {
                display: flex;
                flex-direction: column;
                gap: 5px;
                align-items: center;
                z-index: 2;

                img {
                    object-fit: cover;
                }
            }
        }
    }
}
