.loadingScreen {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "protest";
    font-size: 30px;
    text-transform: uppercase;
}
.grid {
    width: 100%;
    display: grid;
    max-width: 500px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 15px;
    padding: 15px;
    background: #ececec15;
    box-shadow: 0 0 20px #16161696;
    border-radius: 15px;

    .card {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;

        .artistImage {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            overflow: hidden;
            position: relative;
            aspect-ratio: 1/1;

            img {
                object-fit: cover;
                aspect-ratio: 1/1;
            }
        }
        p {
            text-align: center;
            font-size: 12px;
        }
    }
}
