.loadingScreen {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "protest";
    font-size: 30px;
    text-transform: uppercase;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

    .description {
        text-align: center;
        font-size: 24px;
        max-width: 320px;

        span {
            font-family: barlowBlack;
        }
    }

    a {
        background: #ececec1c;
        color: #ececec;
        padding: 30px;
        min-height: 200px;
        width: 100%;
        max-width: 390px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        border-radius: 15px;
        text-align: center;
        box-shadow: 0 0 10px #33333333;

        // &:nth-last-of-type(1) {
        //     background: repeating-linear-gradient(
        //         -55deg,
        //         #222,
        //         #222 10px,
        //         #333 10px,
        //         #333 20px
        //     );
        // }

        h2 {
            font-family: "protest";
            font-weight: lighter;
        }

        p {
            width: 70%;
            text-wrap: balance;
        }
    }
}
