@font-face {
    font-family: "protest";
    src: url(/fonts/PROTESTRIOT-REGULAR.TTF);
}
@font-face {
    font-family: "barlowBlack";
    src: url(/fonts/BARLOW-BLACK.TTF);
}
@font-face {
    font-family: "barlowBold";
    src: url(/fonts/BARLOW-BOLD.TTF);
}
@font-face {
    font-family: "barlowRegular";
    src: url(/fonts/BARLOW-REGULAR.TTF);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "barlowRegular";
}

body {
    min-height: 100vh;
    padding: 15px;
    color: #ececec;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background: linear-gradient(#252525, #090909);
}

li {
    list-style-type: none;
}

a {
    color: unset;
    text-decoration: none;
}
